name: Build and deploy wheel

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }} for ${{ matrix.python }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - ubuntu-24.04-arm
          - macos-13 # x86
          - macos-latest # arm
        python: ["cp310", "cp311", "cp312", "cp313", "cp314"]
    steps:
      - uses: actions/checkout@v4
      - name: Build binary wheels
        uses: pypa/cibuildwheel@v2.19
        with:
          output-dir: dist
        env:
          # Wheel version settings
          CIBW_BUILD: ${{matrix.python}}-*
          CIBW_SKIP: pp* *musllinux*
          # Linux archs
          CIBW_ARCHS_LINUX: ${{ fromJSON('["x86_64", "aarch64"]')[matrix.os == 'ubuntu-24.04-arm'] }} # poor man ternary https://github.com/orgs/community/discussions/25725#discussioncomment-3248924
          # MacOS archs
          CIBW_ARCHS_MACOS: ${{ fromJSON('["arm64", "x86_64"]')[matrix.os == 'macos-13'] }}
          MACOSX_DEPLOYMENT_TARGET: ${{ fromJSON('["14.0", "13.0"]')[matrix.os == 'macos-13'] }}
          # General
          CIBW_TEST_REQUIRES: -r requirements-dev.txt
          CIBW_TEST_COMMAND: pytest -v {project}/tests
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: wheel-${{matrix.python}}-${{ matrix.os }}
          path: ./dist/*.whl

  build_sdist:
    name: Build sdist
    runs-on: ubuntu-latest
    steps:
      - name: Set up Python
        uses: actions/setup-python@v2
      - uses: actions/checkout@v4
      - name: Install requirements
        run: python -m pip install -r requirements-dev.txt
      - name: Make sdist
        run:  python -m build --sdist --outdir dist/
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: sdist
          path: ./dist/*.tar.gz

  upload-testpypi:
    name: Upload wheels to TestPyPI
    needs: [build_wheels, build_sdist]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v4
        with:
          path: dist
          merge-multiple: true
      - name: Publish to test.pypi.org
        if: ${{ github.event_name == 'push' }}
        uses: pypa/gh-action-pypi-publish@v1.8.11
        with:
          user: __token__
          password: ${{ secrets.TESTPYPI_DEPLOY_TOKEN }}
          repository-url: https://test.pypi.org/legacy/
